COMPOSE_PROJECT_NAME=society-test

# ─── Frontend build mode ─────────────────────────────────────────────────
VITE_MODE=development
VITE_APP_ENV=test
VITE_GOOGLE_LOGIN=true
VITE_PHONE_LOGIN=true
KEYCLOAK_PUBLIC_URL=your_keycloak_public_url
