COMPOSE_PROJECT_NAME=society

# ─── Frontend build mode ─────────────────────────────────────────────────
VITE_MODE=production
VITE_APP_ENV=prod
VITE_GOOGLE_LOGIN=true
VITE_PHONE_LOGIN=true
KEYCLOAK_PUBLIC_URL=your_keycloak_public_url
